$main-color-1: #ff7b21;
$main-color-2: #ff8cb2;
$main-color-3: #ffc73c;
$main-color-4: #8f48b8;

$error-color: #ff6161;

$background-color: #906a66;

$neutral-color-dark: #272321;
$neutral-color: #5c5c5c;
$neutral-color-light: #e6e6e6;
$white: #ffffff;

$gutter: 1.5rem;
$panel-radius: 2.5rem;